/*.................UNIVERSAL..............*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body, html{
  background-image: url("wallpaper.jpg");
  background-repeat: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
  width: 100%;
 
  min-height: 100vh; 
  display: flex; 
  flex-direction: column;
  
}

main {
  width: 85%;
  justify-self: center;
  font-family: 'Brush Script MT', cursive;
}

/*.................HEADER..................*/

.navbar { 
  overflow: hidden;
  background-color: rgb(232, 235, 231);
  position: relative;
}

.navbar #myLinks {
  display: none;
  
}

.navbar a {
  color: rgb(165, 98, 98);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
}
.navbar a.icon {
  background: rgb(70, 51, 51);
  display: block;
  position: absolute;
  right: 0;
  top: 0; 
}

/*.................BODY........................*/
h1 {
    font-size: 10vw;
    width: 100%;
}
h2 {
    font-size: 6vw;
    width: 100%;
    text-align: center;
}

#intro {
  display: grid;
  grid-template-columns: 1/-1;
  grid-template-rows: 2fr;
  width: 100%;
  font-size: 2rem;
  font-weight: 10;
  text-align: center;
  color: rgb(232, 235, 231);
  
}

.name {
  font-weight: bold;
  color: rgb(42, 79, 94);
}

#slogan {
  margin-bottom: 2%;
  margin-top: 3%;
}
#aboutme, #contact, #stack{
  line-height: 1.5em;
  font-size: 1.5em;
  margin-top: 3%; 
  margin-left: 5%;
}

#projects {
  margin-top: 5%;
  margin-bottom: 5%;
}
.img {
  max-width: 50%;
  height: auto;
  justify-self:center;
}

#summary ul {
  align-items: center;
  justify-self: center;
}

#form label {
  float: left;
  width: 150px;
}

/*..............FOOTER.................*/
footer a {
  float: right;
  margin: 2%;
  font-size: 2em;
}

footer {
  box-sizing: border-box;
  
  font-style: italic;
  background-color: rgb(232, 235, 231);
}
/*..............MEDIA...................*/
@media screen and (min-width: 600px) {

  body, html {
    width: 100%;
    height: 100%;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }
  .navbar a.icon {
    display: none;
  }

  .navbar { 
    display: grid;
    grid-template-columns: 4fr 10fr;
  }

  .navbar a {
    display: inline-block;
    text-align: left;
    top: 0;
  }
  .navbar #myLinks {
    display: block;
    text-align: right;

  }

  #summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;  
    font-weight: bold;
    margin-top: 4%;
    margin-bottom: 5%;
  }

  #summary ul {
    align-items: center;
    justify-self: center;
  }
  form {
    display: inline-block;
  }
  
  
}
